 /*Extra small devices (phones, 600px and down) */

 @media only screen and (max-width: 600px) {

     .topnav {
         overflow: hidden;
         display: flex;
         flex-flow: column wrap;
         justify-content: center;
         text-align: center;
     }

     #header-img {
         margin: 0px 10px 10px 40px;
     }

    /* .topnav {
         box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.5);
     }*/
     .main-title {
         text-align: center;
         padding-top: 15em;
     }

     .main-title h1 {
         font-size: 2em;
     }

     .main-title h2 {
         /*word-break: break-all;*/
         font-size: 0.9em;
         padding: 1em 2em 0 2em;
     }

     form {
         padding: 2.5em;
     }

     #email {
         padding-top: 0;
         margin-top: 0;
     }

     .row {
         -webkit-flex-direction: column;
         flex-direction: column;
     }

     .main-content {
         padding: 2.5em;
         line-height: 1.5em;
     }
     #prices-table {

         padding: 0 2.5em 0 2.5em;
     }

     footer {
         padding-top: 90em;
     }
     .footerListContent,
     .copyRights {
         flex: wrap;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         padding: 0;
         margin: 0;
     }
     .columnsPrice {
         padding-top: 5em;
         width: 100%;
     }
 }
 /* Small devices (portrait tablets and large phones, 600px and up) */

 @media only screen and (min-width: 600px) {
     /*  .columnsPrice {
        width: 100%;
    }*/
 }
 /* Medium devices (landscape tablets, 768px and up) */

 @media only screen and (min-width: 768px) {
     .main-content {
         padding: 2.5em;
         line-height: 1.5em;
     }
     #prices-table {

         padding: 0 1.5em 0 1.5em;
     }
 }
 /*Large devices (laptops/desktops, 992px and up) */

 @media only screen and (min-width: 992px) {
     .main-content {
         padding: 2.5em;
         line-height: 1.5em;
     }
     #prices-table {

         padding: 0 1.5em 0 1.5em;
     }
 }
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /*@media only screen and (min-width: 1200px) {
    ...
}