 /*Extra small devices (phones, 600px and down) */

 @media screen and (max-width: 900px) {


     #navbar ul {
         width: 100%;
         height: auto;
         position: fixed;
     }

     /*  main {
         margin-left: 0;
     }*/

     #main-doc {
         margin-left: 2%;
         padding: 1px 16px;
         /*height: 1000px;*/
     }

 }

 @media screen and (max-width: 400px) {

     #navbar ul li a {
         text-align: center;
         float: none;
     }
 }