/*Allow to change the color where the color variable is*/

:root {
    --main-color: #444444;
    --secondary-color: #113f67;
    --ternary-color: #87c0cd;
    /*--four-color: #f3f9fb;*/
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--main-color);
    background-color: var(--four-color);
    font-weight: 500;
}

body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    /*font-family: Karla, Titillium Web, Arial, Helvetica, sans-serif;*/
    color: var(--main-color);
    /*font-size: 1.5em;*/
}

a {
    cursor: pointer;
    /*color:var(--ternary-color)*/
}

p {
    line-height: 1.5em;
}

h1,
h2 {
    font-weight: 600;
    color: var(--secondary-color);
}

h1 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: block;
}


h2 {
    padding-top: 1.5em;
    padding-bottom: 1.6em;
}

#python_icon {
    font-size: 3em;
    display: inline;
    color: var(--secondary-color);
}

/*.python_icon_introduction{
     display: flex;
  justify-content: center;
}*/


/*Navbar formatting*/

/*Use this to pass the test*/

/*#navbar {
    position: fixed;

}*/

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 2px solid #555;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


#navbar li a {
    font-weight: 600;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    border-bottom: 2px solid #555;
    padding-left: 2.5em;
}

li a:hover:not(.active) {
    /*background-color: #555;*/
    border: none;
    color: white;
    font-weight: 900;
    background-color: var(--secondary-color);
}

/*#navbar ul:hover {
    transform: scale(1.1);
}*/

#main-doc {
    margin-left: 27%;
    padding: 1px 16px;

}

.main-section {
    padding-bottom: 12em;
}



/*Header formmatting*/

header {
    text-align: center;
    margin: 0.5em;
}

/*List Formatting*/
section li {
    margin: 15px 0 0 20px;
}

/*Code snippet formatting*/
code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin: 20px;

}

pre {
    background-color: #eee;
}

/* Style the footer */

footer {
    padding-top: 5em;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footerListContent,
.copyRights {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.footerListContent li {
    margin: 0;
    padding: 0.5em;
    font-weight: 500;
}


/*Extra small devices (phones, 600px and down) */

@media screen and (max-width: 900px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    /*#navbar {
       position: relative;
    }*/

    #main-doc {
        margin-left: 2%;
        padding: 1px 16px;
        /*position: relative;*/
        /*height: 1000px;*/
        /*margin-top: 300px;*/
    }

       .main-section {
    padding: 0;
}

}

@media screen and (max-width: 400px) {

    #navbar ul li a {
        text-align: center;
        float: none;
    }
}